*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

.container {
    font-family: "Russo One", sans-serif;
    font-size: 22px;
}

.box {
    max-width: 300px;
    max-height: auto;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.calculator__display {
    margin-left: 250px;
    color: white;
    font-size: 20px;
}

button {
    height: 70px;
    width: 70px;
    justify-content: space-around;
    border: 0.5px solid black;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 6px rgb(0, 255, 4);
}

[data-type="number"] {
    margin-bottom: 15px;
}

.open {
    color: #fe7c4d;
    box-shadow: 5px 5px 6px #fe7c4d;
}

.open:hover {
    background-color: #ff6f3c;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.close {
    color: #79c2d0;
    box-shadow: 5px 5px 6px #79c2d0;
}

.close:hover {
    background-color: #79c2d0;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.del {
    color: #cbf078;
    box-shadow: 5px 5px 6px #cbf078;
}

.del:hover {
    background-color: #cbf078;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.clear {
    color: #f9344e;
    box-shadow: 5px 5px 6px #f9344e;
}

.clear:hover {
    background-color: #e84a5f;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.seven:hover {
    background-color: #ffcece;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.eight:hover {
    background-color: #cadefc;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.nine:hover {
    background-color: #fcff82;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.plus {
    color: #396bf7;
    box-shadow: 5px 5px 6px #396bf7;
}

.plus:hover {
    background-color: #afc5ff;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.four:hover {
    background-color: #fff2be;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.five:hover {
    background-color: #36d1c4;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.six:hover {
    background-color: #a0eecc;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.minus {
    color: #f6318c;
    box-shadow: 5px 5px 6px #f6318c;
}

.minus:hover {
    background-color: #f6318c;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.one:hover {
    background-color: #a3de83;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.two:hover {
    background-color: #feffea;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.three:hover {
    background-color: #00b7c2;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.divide {
    color: #fffb00;
    box-shadow: 5px 5px 6px #fffb00;
}

.divide:hover {
    background-color: #fffb00;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.zero:hover {
    background-color: #defcf9;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.decimal:hover {
    background-color: #cadefc;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.equal:hover {
    background-color: #c3bef0;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}

.times {
    color: #cca8e9;
    box-shadow: 5px 5px 6px #cca8e9;
}

.times:hover {
    background-color: #cca8e9;
    color: black;
    border: none;
    box-shadow: 5px 5px 6px black;
}