@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
  background-color: #ecfbff;
  border: 3px solid #50300f;
  box-shadow: 4px 4px #a13752;
  border-radius: 10px;
  text-align: right;
}

.wrapper {
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  background-color: #fe9dc8;
  border: 3px solid #50300f;
  box-shadow: 7px 7px #a13752;
}

.buttonbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  background-color: #cdefff;
  border: 2px solid #50300f;
  box-shadow: 3px 3px #488bae;
  border-radius: 10px;
  height: 3.5rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #50300f;
  font-size: 1.5rem;
  font-weight: bold;
}

.button:hover {
  border: 5px solid;
  border-bottom-color: #e91e63;
  border-left-color: #03a9f4;
  border-right-color: #cddc39;
  border-top-color: #ff9800;
  background-color: white;
  color: #5d4037;
  box-shadow: none;
}

.equals {
  background-color: #d7ec16;
  grid-column: 3/5;
}

.operater {
  background-color: #a13752;
  color: #cdefff;
  box-shadow: 3px 3px rgb(234, 234, 234);
}

.signature {
  margin-top: 30px;
  margin-left: 90px;
}

.signature a {
  text-decoration: none;
  color: #50300f;
}

.signature a:hover {
  color: #03a9f4;
  cursor: pointer;
}
