@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.screen {
  height: 5rem;
  margin-bottom: 2.2rem;
  background-color: #ecfbff;
  border: 3px solid #50300f;
  box-shadow: 3px 3px #a13752;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  color: #50300f;
  font-size: 2rem;
  overflow-x: auto;
}

.wrapper {
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  background-color: #fe9dc8;
  border: 3px solid #50300f;
  box-shadow: 7px 7px #a13752;
}

.buttonbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  background-color: #f8edeb;
  border: 2px solid #50300f;
  box-shadow: 2px 2px #a13752;
  border-radius: 10px;
  height: 3.5rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #50300f;
  font-size: 1.5rem;
  font-weight: bold;
}

.button:hover {
  border: 2px solid #f8f4f3;
  transition: 0.4s ease;
  background-color: #f8f4f3;
  box-shadow: none;
}

.equals {
  background-color: #baf2bb;
  grid-column: 3/5;
}

.equals:hover {
  transition: 0.4s ease;
  background-color: #d5fad5;
  border: 2px solid #d5fad5;
}

.operater {
  background-color: #b5e2fa;
}

.operater:hover {
  transition: 0.4s ease;
  background-color: #d9effc;
  border: 2px solid #d9effc;
}

.signature {
  margin-top: 30px;
  margin-left: 90px;
}

.signature a {
  text-decoration: none;
  color: #95520f;
}

.signature a:hover {
  color: #03a9f4;
  cursor: pointer;
}
