@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #fdfcfb 1%, #e2d1c3 100%);
}

.container {
  width: 50vh;
  height: 100%;
}

.calculator {
  display: flexbox;
  padding: 20px;
  background-color: #fe9dc8;
  border: 3px solid #50300f;
  border-radius: 10px;
  box-shadow: 7px 7px #a13752;
}

button {
  border: 3px solid #50300f;
  border-radius: 10px;
  color: #50300f;
  width: 80px;
  height: 80px;
  font-size: 34px;
  font-weight: 500;
  background-color: #ceefff;
  margin: 2px;
  cursor: pointer;
  box-shadow: 1px 1px #a13752;
}

button:hover {
  background-color: #a2defd;
  transition: all 0.3s ease;
}

.output {
  margin: 10px;
  color: #50300f;
  text-align: right;
  font-size: 32px;
  padding: 50px 10px;
  background-color: #a2defd;
  border: 3px solid #50300f;
  border-radius: 10px;
  box-shadow: 1px 1px #a13752;
}

.equal {
  width: 248px;
}

.signature {
  color: black;
  padding-top: 30px;
}

#signature {
  text-decoration: none;
  color: #a13752;
}

#signature:hover {
  color: #0099e6;
  text-decoration: none;
  transition: all 0.3s ease;
}
